<p>
  <a href="{% url 'products:index' %}">Lending Library</a> /
  <a href="{% url 'products:products' %}">Products</a> /
  <a href="{% url 'products:my_products' %}">MyLibrary</a> /
  Things Borrowed /
  Things Loaned /
  {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'users:logout' %}">log out</a>
  {% else %}
    <a href="{% url 'users:register' %}">register</a> -
    <a href="{% url 'users:login' %}">log in</a>
  {% endif %}
</p>

{% block content %}{% endblock content %} 

<footer>
  <p><a href="https://www.linkedin.com/in/josh-d-souza-915b2543" target="_blank" rel="noopener noreferrer">Creator: Josh D'Souza</a></p>
</footer>