{% extends 'products/base.html' %}

{% block header %}
  <h2>{{ product }}</h2>
{% endblock header %}

{% block content %}

  <p>Product: {{ product }}</p>
  <p>Type: {{ product.product_type }}</p>
  <p>Description: {{product.description }}</p>
  <p>Owner: {{product.owner }}</p>

  <p>
    <a href="{% url 'products:borrow_product' product.id %}">borrow product</a>
  </p>

  <!-- button name="submit">borrow</button -->

  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.date_added|date:'M d, Y H:i'}}
          <small>
            <a href="https://www.google.com">edit entry</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>
    </div> <!-- panel --> 

  {% empty %}
    	There are no entries for this product yet.
  {% endfor %}

{% endblock content %}	